name: bin check
on:
  push:
    branches:
      - master

jobs:
  image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          target: wasm32-unknown-unknown
          toolchain: stable
          components: rustfmt, clippy
          profile: minimal
          override: true
        run: |
          bash build_all.sh
